/* Applies box-sizing, padding, and margin reset to all elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
a,
i {
  color: var(--tags-color);
  transition: var(--secoundery-transition);
}
p {
  color: var(--tags-color);
  opacity: 0.8;
  transition: var(--secoundery-transition);
}
h1,
h2,
h3 {
  transition: var(--secoundery-transition);
  color: var(--tags-color);
}
button {
  cursor: pointer;
  outline: none;
}

:root {
  /* Define global CSS variables for spacing and colors */
  --section-outer-space: 100px;
  --section-inner-space: 100px;
  --primary-color: rgb(17 186 240);
  --body-color: #f2f2f3;
  --section-color: white;
  --tags-color: black;
  --boxSizing-color: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px 0 rgba(217, 217, 217, 0.6);
  --danger--color: #ff3150;
  --secoundery-color: #ffb003;
  --third-color: #39b385;
  --main-transition: background-color 0.3s ease-in-out;
  --secoundery-transition: color 0.3s ease-in-out;
}
.darkmode {
  --tags-color: white;
  --section-color: #02050c;
  --body-color: #080c14;
  --boxSizing-color: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Set base font for the body */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Bold", sans-serif;
  background-color: var(--body-color);
  overflow-x: hidden;
  transition: var(--main-transition);
}

html {
  scroll-behavior: smooth;
}

/* Container class for responsive padding and centering content */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive container widths for different screen sizes */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.Section-title {
  transition: var(--main-transition);
  font-family: "Noto Kufi Arabic", sans-serif;
  width: 100%;
  background-color: var(--section-color);
}

.Section-title h1 {
  padding: 10px 0;
  margin: var(--section-outer-space) 0;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 476px) {
  .Section-title h1 {
    margin: 50px 0;
    font-size: 30px;
  }
}
